<section id='dangerous-search-results'>
  <h5>For Range:</h5>
  <p><%= facade.search_range %></p>
  <section id='most-dangerous-day'>
    Most Dangerous Day:
    <h2><%= facade.most_dangerous_day.date %></h2>
    <h3>Dangerous Astroids on <%= facade.most_dangerous_day.date %></h3>
    <% facade.asteroids_for_day.each do |asteroid| %>
      <section class='asteroid'>
        Name: <%= asteroid.name %>
        <br>
        NEO Reference ID: <%= asteroid.neo_id %>
      </section>
      <br>
    <% end %>
  </section>
</section>
